<div class="container container__product">
    <mat-card class="product">
        <mat-card-header>
          <mat-card-title>Electro scooter</mat-card-title>
          <mat-card-subtitle>product</mat-card-subtitle>
        </mat-card-header>
        <img
            mat-card-image
            src="../../../assets/images/Electro-scooter.jpg"
            class="product__image"
            alt="Electro-scooter"
        >
        <mat-card-content>
            <p>Price: 300</p>
            <p>Year: 2021</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button class="button" color="primary">В корзину</button>
            <button mat-flat-button class="button" color="primary">Подробнее</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="product">
        <mat-card-header>
          <mat-card-title>Electro bicycle</mat-card-title>
          <mat-card-subtitle>product</mat-card-subtitle>
        </mat-card-header>
        <img
            mat-card-image
            src="../../../assets/images/Electro-bicycle.jpg"
            class="product__image"
            alt="Electro-scooter"
        >
        <mat-card-content>
            <p>Price: 1000</p>
            <p>Year: 2022</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-flat-button class="button" color="primary">В корзину</button>
            <button mat-flat-button class="button" color="primary">Подробнее</button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="product">
        <mat-card-header>
          <mat-card-title>Robot vacuum cleaner</mat-card-title>
          <mat-card-subtitle>product</mat-card-subtitle>
        </mat-card-header>
        <img
            mat-card-image
            src="../../../assets/images/Robot-vacuum-cleaner.jpg"
            class="product__image"
            alt="Electro-scooter"
        >
        <mat-card-content>
            <p>Price: 500</p>
            <p>Year: 2023</p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-flat-button class="button" color="primary">В корзину</button>
          <button mat-flat-button class="button" color="primary">Подробнее</button>
        </mat-card-actions>
    </mat-card>
</div>