.container {
    margin: 0 auto 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    // margin-bottom: 100px;

    // &__product {
    //     margin-bottom: 100px;
    // }
}

mat-card {
    background-color: darkslategrey;
    color: white;
}

mat-card-subtitle {
    color: white;
}

mat-card-actions {
    button {
        color: white;
    }
}

.product {
    &__image {
        max-width: 300px;
        height: 150px;
    }

    margin: 20px;
}

.button {
    margin: 5px;
}