.example-spacer {
    flex: 1 1 auto;
}

.toolbar {
    display: flex;
    align-items: center;

    &__button {
        margin-left: 15px;
    }
}

.no-select {
    cursor: pointer;
    user-select: none;
}

.header {
    z-index: 999;
}