<mat-toolbar class="header">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon style="margin-left: 5px">home</mat-icon>
      </button>
      <span>Online shop</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button class="toolbar__button" routerLink="" mat-flat-button>Главная</button>
      <button class="toolbar__button" routerLink="products" mat-flat-button>Товары</button>
      <button class="toolbar__button" routerLink="basket" mat-flat-button>Корзина</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
